html {
  min-height: 100vh;
}

body {
  font-family: 'Courier Prime', 'Courier New', Courier, monospace;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
  background: #efefef;
  min-height: 100dvh;
  overflow: hidden;
}